In [1]:
import numpy as np

In [2]:
import pandas as pd

In [4]:
!type ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [5]:
df = pd.read_csv('ex1.csv')

In [6]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [7]:
pd.read_csv('ex2.csv')

   1   2   3   4  hello
0  5   6   7   8  world
1  9  10  11  12    foo

In [8]:
pd.read_csv('ex2.csv', header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [9]:
names = ['a', 'b', 'c', 'd', 'message']

In [10]:
pd.read_csv('ex2.csv', names=names)

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [11]:
pd.read_csv('ex2.csv', names=names, index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [12]:
parsed = pd.read_csv('csv_mindex.csv', index_col=['key1', 'key2'])

In [13]:
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [14]:
list(open('ex3.txt'))

['A    B    C\n', 'aaa -1  -2  -3\n', 'bbb -2  -3  0']

In [15]:
result = pd.read_table('ex3.txt', sep='\s+')

In [16]:
result

     A  B  C
aaa -1 -2 -3
bbb -2 -3  0

In [17]:
pd.read_csv('ex4.csv', index_col='message', skiprows=[0, 2, 3])

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [25]:
pd.read_csv('ex5.csv', na_values=['foo'])

  something  a   b   c     d message
0       one  1   2   3   4.0     NaN
1       two  5   6   7   NaN   world
2     three  9  10  11  12.0     NaN

In [26]:
pd.read_csv('ex5.csv', chunksize=1)

In [27]:
chuner = _

In [28]:
for piece in chuner:
    print(piece)

  something  a  b  c  d  message
0       one  1  2  3  4      NaN
  something  a  b  c   d message
1       two  5  6  7 NaN   world
  something  a   b   c   d message
2     three  9  10  11  12     foo

In [29]:
dates = pd.date_range('1/1/2000', periods=7)

In [30]:
ts = pd.Series(np.arange(7), index=dates)

In [31]:
ts

2000-01-01    0
2000-01-02    1
2000-01-03    2
2000-01-04    3
2000-01-05    4
2000-01-06    5
2000-01-07    6
Freq: D, dtype: int32

In [32]:
pd.from_csv?

Object `pd.from_csv` not found.

In [33]:
pd.Series.from_csv?

In [34]:
pd.read_csv?

In [44]:
f = open('ex7.csv')

In [46]:
lines = f.readlines()

In [47]:
print(lines)

['"a","b","c"\n', '"1","2","3"\n', '"1","2","3","4"']

In [48]:
f.close()

In [49]:
print?

In [50]:
for line in lines:
    print(line)

"a","b","c"

"1","2","3"

"1","2","3","4"

In [51]:
import csv

In [66]:
f = open('ex7.csv')

In [67]:
reader = csv.reader(f)

In [68]:
lines = list(reader)

In [69]:
lines

[['a', 'b', 'c'], ['1', '2', '3'], ['1', '2', '3', '4']]

In [70]:
header, values = lines[0], lines[1:]

In [72]:
data_dict = {h: v for h, v in zip(header, zip(*values))}

In [73]:
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [75]:
zip?

In [76]:
import json

In [77]:
obj = """{
    "name": "Wes",
    "pet": null,
    "siblings": [{"name": "Scott", "age": 25, "pet": "Zuko"}, {"name": "Katie", "age": 33, "pet": "Cisco"}]
}"""

In [78]:
result = json.loads(obj)

In [79]:
result

{'name': 'Wes',
 'pet': None,
 'siblings': [{'age': 25, 'name': 'Scott', 'pet': 'Zuko'},
  {'age': 33, 'name': 'Katie', 'pet': 'Cisco'}]}

In [80]:
asjson = json.dumps(result)

In [81]:
asjson

'{"name": "Wes", "pet": null, "siblings": [{"name": "Scott", "age": 25, "pet": "Zuko"}, {"name": "Katie", "age": 33, "pet": "Cisco"}]}'

In [82]:
data = pd.DataFrame(result['siblings'])

In [83]:
data

   age   name    pet
0   25  Scott   Zuko
1   33  Katie  Cisco