In [1]:
import pandas as pd

In [2]:
from pandas import DataFrame, Series

In [4]:
obj = Series([1, 2, 3, 4], index=list('abcd'))

In [5]:
obj

a    1
b    2
c    3
d    4
dtype: int64

In [8]:
obj1 = Series(range(1,5), index=list('abcd'))

In [9]:
obj1

a    1
b    2
c    3
d    4
dtype: int32

In [10]:
sdata = {"a": 1, 'b':2, "c": 3, "d": 4}

In [12]:
obj3 = Series(sdata, index=list('bcde'))

In [13]:
obj3

b    2.0
c    3.0
d    4.0
e    NaN
dtype: float64

In [14]:
obj3.isnull()

b    False
c    False
d    False
e     True
dtype: bool

In [15]:
obj3.notnull()

b     True
c     True
d     True
e    False
dtype: bool

In [16]:
list(set([123,123, 434, 3]))

[3, 434, 123]

In [17]:
import numpy as np

In [19]:
frame = DataFrame(np.random.randn(4, 3), columns=list('bde'), index=list('opqr'))

In [20]:
frame

          b         d         e
o -0.263456 -0.441183  1.637150
p -0.244790 -0.081998 -0.770758
q  0.651156 -0.811093  0.620919
r  0.275618  0.411814 -0.317849

NumPy的ufunc可用于操作pandas对象

In [21]:
np.abs(frame)

          b         d         e
o  0.263456  0.441183  1.637150
p  0.244790  0.081998  0.770758
q  0.651156  0.811093  0.620919
r  0.275618  0.411814  0.317849

In [22]:
frame.apply?

**apply()将函数应用到各行或各列组成的一维数组上**

In [24]:
frame.apply(np.sum)

b    0.418528
d   -0.922459
e    1.169463
dtype: float64

In [25]:
frame.sort_index?

In [26]:
frame.sort_index()

          b         d         e
o -0.263456 -0.441183  1.637150
p -0.244790 -0.081998 -0.770758
q  0.651156 -0.811093  0.620919
r  0.275618  0.411814 -0.317849

In [27]:
frame

          b         d         e
o -0.263456 -0.441183  1.637150
p -0.244790 -0.081998 -0.770758
q  0.651156 -0.811093  0.620919
r  0.275618  0.411814 -0.317849

In [28]:
frame.sort_index()

          b         d         e
o -0.263456 -0.441183  1.637150
p -0.244790 -0.081998 -0.770758
q  0.651156 -0.811093  0.620919
r  0.275618  0.411814 -0.317849

In [29]:
frame.sort_index(by='b')

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: by argument to sort_index is deprecated, pls use .sort_values(by=...)
  """Entry point for launching an IPython kernel.

          b         d         e
o -0.263456 -0.441183  1.637150
p -0.244790 -0.081998 -0.770758
r  0.275618  0.411814 -0.317849
q  0.651156 -0.811093  0.620919

In [31]:
frame.sort_values(by='b')

          b         d         e
o -0.263456 -0.441183  1.637150
p -0.244790 -0.081998 -0.770758
r  0.275618  0.411814 -0.317849
q  0.651156 -0.811093  0.620919

In [32]:
0 < 1 < 2

True