In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
path = './Data/adult.data'

In [6]:
adult = pd.read_csv(path, header=None, names=['Age', 'Work-Class', 'fnlwgt',
                                             'Education', 'Education-Num', 'Marital-status',
                                             'Occupation', 'Relationship', 'Race',
                                             'Sex', 'Capital-gain', 'Capital-loss',
                                             'Hours-per-week', 'Native-Country', 'Earnings-Raw'])

In [7]:
adult[:10]

,Age,Work-Class,fnlwgt,Education,Education-Num,Marital-status,Occupation,Relationship,Race,Sex,Capital-gain,Capital-loss,Hours-per-week,Native-Country,Earnings-Raw
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

In [8]:
adult['Hours-per-week'].describe()

count    32561.000000
mean        40.437456
std         12.347429
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000
Name: Hours-per-week, dtype: float64

In [9]:
adult['LongHours'] = adult['Hours-per-week'] > 40

In [10]:
adult[:10]

,Age,Work-Class,fnlwgt,Education,Education-Num,Marital-status,Occupation,Relationship,Race,Sex,Capital-gain,Capital-loss,Hours-per-week,Native-Country,Earnings-Raw,LongHours
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,False
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,False
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,False
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,False
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,False
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K,False
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K,False
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K,True
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K,True
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K,False

In [11]:
X = np.arange(30).reshape((10, 3))

In [12]:
X

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11],
       [12, 13, 14],
       [15, 16, 17],
       [18, 19, 20],
       [21, 22, 23],
       [24, 25, 26],
       [27, 28, 29]])

In [13]:
X[:, 1:] = 0

In [15]:
X[1] = 1

In [16]:
X

array([[ 0,  0,  0],
       [ 1,  1,  1],
       [ 6,  0,  0],
       [ 9,  0,  0],
       [12,  0,  0],
       [15,  0,  0],
       [18,  0,  0],
       [21,  0,  0],
       [24,  0,  0],
       [27,  0,  0]])

In [18]:
from sklearn.feature_selection import VarianceThreshold

In [19]:
vt = VarianceThreshold()

In [23]:
Xt = vt.fit_transform(X)

In [24]:
vt.variances_

array([ 78.81,   0.09,   0.09])

In [25]:
Xt

array([[ 0,  0,  0],
       [ 1,  1,  1],
       [ 6,  0,  0],
       [ 9,  0,  0],
       [12,  0,  0],
       [15,  0,  0],
       [18,  0,  0],
       [21,  0,  0],
       [24,  0,  0],
       [27,  0,  0]])

In [26]:
vt = VarianceThreshold(.1)

In [27]:
Xt = vt.fit_transform(X)

In [28]:
Xt

array([[ 0],
       [ 1],
       [ 6],
       [ 9],
       [12],
       [15],
       [18],
       [21],
       [24],
       [27]])

In [29]:
X = adult[['Age', 'Education-Num', 'Capital-gain', 'Capital-loss', 'Hours-per-week']]

In [30]:
X[:10]

   Age  Education-Num  Capital-gain  Capital-loss  Hours-per-week
0   39             13          2174             0              40
1   50             13             0             0              13
2   38              9             0             0              40
3   53              7             0             0              40
4   28             13             0             0              40
5   37             14             0             0              40
6   49              5             0             0              16
7   52              9             0             0              45
8   31             14         14084             0              50
9   42             13          5178             0              40

In [31]:
y = (adult['Earnings-Raw'] == ' >50K').values

In [32]:
y[:10]

array([False, False, False, False, False, False, False,  True,  True,  True], dtype=bool)

In [33]:
from sklearn.feature_selection import SelectKBest

In [34]:
from sklearn.feature_selection import chi2

In [35]:
transfomer = SelectKBest(score_func=chi2, k=3)

In [36]:
Xt_chi2 = transfomer.fit_transform(X, y)

In [37]:
transfomer.scores_

array([  8.60061182e+03,   2.40142178e+03,   8.21924671e+07,
         1.37214589e+06,   6.47640900e+03])

In [38]:
Xt_chi2[:10]

array([[   39,  2174,     0],
       [   50,     0,     0],
       [   38,     0,     0],
       [   53,     0,     0],
       [   28,     0,     0],
       [   37,     0,     0],
       [   49,     0,     0],
       [   52,     0,     0],
       [   31, 14084,     0],
       [   42,  5178,     0]], dtype=int64)

In [39]:
from sklearn.tree import DecisionTreeClassifier

In [40]:
from sklearn.cross_validation import cross_val_score

In [41]:
clf = DecisionTreeClassifier(random_state=14)

In [42]:
scores_chi2 = cross_val_score(clf, Xt_chi2, y, scoring='accuracy')

In [43]:
scores_chi2

array([ 0.82577851,  0.82992445,  0.83009306])

In [45]:
def convert_number(x):
    try:
        return float(x)
    except ValueError:
        return np.nan

In [46]:
from collections import defaultdict

In [47]:
converters = defaultdict(convert_number)

In [48]:
converters

defaultdict(<function __main__.convert_number>, {})

In [49]:
pd.read_csv?